# Dependencies
node_modules/
.pnpm-store/

# Build Outputs
dist/
build/
out/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment Variables
.env
.env.local
.env.*.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
.DS_Store
Thumbs.db

# Testing
coverage/

# Unignore packages (Fix for parent gitignore)
!packages/