/* ブラウザのデフォルトの余白を消す */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* スクロールバーを出さない */
  background-color: #000;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* 中央寄せを解除 */
}